:root{
    --cor-fundo: oklch(14.5% 0 0);
    --cor-primearia: oklch(43.9% 0 0);
    --cor-texto: oklch(92.3% 0.003 48.717);
    --cor-segundario: oklch(29.1% 0.149 302.717);
}
* {
    margin: 0%;
    padding: 0%;
    font-family: Arial;
}
body{
    background-color: var(--cor-fundo);
    
}
.menu {
    display: flex;
    background-color: var(--cor-fundo);
    border-bottom: 1px var(--cor-primearia) solid;
    gap: 20px;
}
.opcap {
    align-content: center;
    text-align: center;


    margin: 0.5rem;
    border-radius: 5px;
    order: 2;
}
.logo {
    order: 1;
    margin: 0%;
    margin-top: 20px;
    margin-left: 20px;
}
.ajuda{
    background-color: var(--cor-segundario);
    margin: 0.8%;
    padding: 7px;
    justify-content: flex-end;
    cursor: pointer;
    transition: 0.5s;
}
.ajuda:hover{
    box-shadow: 0px 0px 10px var(--cor-segundario);
    text-shadow: 0px 0px 2px var(--cor-texto);
}
.opcap a {
    color: var(--cor-texto);
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
    text-decoration: none;
}
.opcap a:hover{
    text-shadow: 0px 0px 5px var(--cor-texto)
}
